
.DS_Store
.env
backend/.env
backend/dist/index.js
backend/dist/models/founderModel.js
backend/dist/models/userModel.js
backend/dist/models/vcModel.js
**/**/node_modules

backend/package-lock.json

package-lock.json
src/.DS_Store
node_modules
