#header {
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  top: -100px; /* Hide the header initially */
}

.fixed-header {
  position: fixed;
  top: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Change the background color as needed */
}
